<h1>Fundamentals</h1>


<p>Object Oriented Programming is the modeling of a problem through use of objects and classes. 
    This allows breaking down a complex problem in to smaller, workable components.</p>

<p>What is an object? An object is an instance of a class with an identity, state, 
        and behavior that attempts to model a specific entity.</p>
<p>What is a class? A class is a structure that combines states, properties, and behaviors in order to model an object.</p>
<p>What is a method? A method is the implementation of the behavior of a class.</p>


<div id="CMOexample">
    <img src="CMOexample.png">
</div>


<p>There are four basic principles of OOP (known as the four pillars) that define its use</p>
<ul>
    <li>Abstraction: The process of hiding unnecessary details and attributes from users that are unnecessary to know in order to utilize the object</li>
    <li>Polymorphism: The ability to access multiple objects through the same interface that can inherit functionality from a base class to define its own behavior.</li>
    <li>Inheritance: Two or more classes that share an extended relationship where the child class takes on the properties of its parent class.</li>
    <li>Encapsulation: The process of wrapping code members into a secure object in order to prevent modification.</li>
</ul>