<div class="container">
    <h1>This is the comment component!</h1>

    <!-- 1st -->
    <form #form="ngForm">
        <div class="show-comment">
            <div class="comment-detail" *ngFor="let comment of comments">
                <div class="comment-ids">
                    <span>Comment Id: {{ comment.commentId }}</span>
                    <span>User Id: {{ comment.userId }}</span>
                </div>
                <div class="content">
                    <textarea id="content" name="content" rows="6" cols="60" height="auto">{{ comment.content }}</textarea>
                </div>
                <div class="delete-action">
                    <a (click)="deleteComment(comment.commentId)"><button>Delete</button></a>
                </div>
            </div>
        </div>
    </form>

    <div class="comment-container">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="comment-group">
                <h3>Comment:</h3>
                <textarea id="content" name="content" rows="6" cols="60" height="auto" placeholder="Enter your comment here." [(ngModel)]="comment.content"></textarea>
                <br>
                <button>Post</button>
            </div>
        </form>
    </div>


    <div class="update-container">
        <form>
            <div class="update-group">
                <h3>Update here</h3>
                <label for="">comment id</label>
                <input type="text" name="commentid" [(ngModel)]="comment.commentId">
                <h3>Comment:</h3>
                <textarea id="content" name="content" rows="6" cols="60" height="auto" placeholder="Enter your comment here." [(ngModel)]="comment.content"></textarea>
                <br>
                <a (click)="updateComment(comment)"><button>Update</button></a>
            </div>
        </form>
    </div>

</div>