<h1>Explain What A Class Is and It's Relation to Objects</h1>

    <h2>Class:</h2>
    <ul style="list-style-type: circle">
        <li>A blueprint from which objects are created.</li>
        <li>Combines the fields and methods into a single unit, but we will get to that later in the tutorial.</li>
        <li>Supports polymorphism, inheritance, and also provide the concept of derived classes and base classes.</li>
    </ul>

    <h3>Declaration of class:</h3>
        <ul style="list-style-type: circle">
            <li>contains only a keyword class, followed by identifier(name) of the class.</li>
        </ul>

        <h3>Example:</h3>

        <p>CODE TAG DOESNT WORK HERE: TODO</p> 
       