*
{
    background-color:black;
    color: lightgrey;
}

a
{
    text-decoration: none;
    padding-left: 10px;
    color: lightgrey;
}

a:hover
{
    text-decoration: underline;
}

h1
{
    text-align: center;
    text-decoration: underline;
}

h2
{
    text-align: left;
    padding-left: 10px;
}

h3
{
    font-size: 23px;
    margin: 18px;
}

h4
{
    font-size: 20px;
    padding-left: 35px;
    margin: 18px;
}

h5
{
    font-size: 17px;
    padding-left: 60px;
    margin: 18px;
}

h6
{
    font-size: 14px;
    padding-left: 80px;
    margin: 18px;
}

#title
{
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
}

#account_navbar
{
    padding-right: 10px;
    border-style: dotted;
    border-color: green;
    /*margin-bottom: 2px;*/
}

#headings
{
    display: inline-block;
}

#account_holder
{
    /*display: inline-block;*/
    float: right;
    margin-top: 40px;
}

#account_holder img
{
    height: 80px;
    width: 80px;
}

nav
{
    /*background-color:#474C55;*/
    border-style: solid;
    border-color:red;
    float: left;
    width: 20%;
    height: 100%;
    /*margin-bottom: 10px;*/
}

#cs,#js
{
    vertical-align: middle;
    padding-bottom: 5px;
}

#content
{
    border-style: dotted;
    border-color: green;
    float: right;
    width: 79%;
    height: 100%; 
    /*margin-bottom: 10px;*/
}

#content_insert
{
    padding: 10px;
}

footer
{
    clear: both;
    border-style: dotted;
    border-color: brown;
    text-align: center;
    font-size: 15pt;
}

#GitHub
{
    height: 70px;
    width: 70px;
    vertical-align: middle;
}

#avatar
{
    height: 80px;
    width: 80px;
}