<!-- NOTES -->
<!--
    * Console Methods will be organically introduced throughout the first few sections
    * Commenting will be introduced within an early section
    *
    *
-->


<nav>
    <h2>Getting Started</h2>
    <ul>
        <li><h3><a routerLink="/Introduction" routerLinkActive="active">Introduction</a></h3></li>
        <li><h3><a routerLink="/Fundamentals" routerLinkActive="active">Fundamentals of OOP</a></h3></li>
    </ul>
    <h2>Programming Resources</h2>
    <ul>
        <li><h3>Tutorial: C#</h3></li>
        <ul>
            <li><h4>Entry Level</h4></li>
            <ul class="entry">
                <li><a routerLink="/C#Overview" routerLinkActive="active">Overview: C#</a></li>
                <li><a routerLink="/IDE" routerLinkActive="active">Setting up an IDE</a></li>
                <li><a routerLink="/Class" routerLinkActive="active">Classes and Objects</a></li>
                <li><a routerLink="/Modifiers" routerLinkActive="active">Data Modifiers and Types</a></li>
                <li><a routerLink="/Operators" routerLinkActive="active">Simple Operators, Strings and Arrays</a></li>
                <li><a routerLink="/Libraries" routerLinkActive="active">Libraries and System Methods</a></li>
                <li><a routerLink="/Variables" routerLinkActive="active">Variables, Fields, and Properties</a></li>
                <li><a routerLink="/Files" routerLinkActive="active">Working With File I/O</a></li>
                <li><a routerLink="/Conditionals" routerLinkActive="active">Loops and Conditionals</a></li>
                <li><a routerLink="/Parsing" routerLinkActive="active">Simple Parsing</a></li>
                <li><a routerLink="/ChallengesCS" routerLinkActive="active">Challenges</a></li>
                <li><a routerLink="/SummaryCS" routerLinkActive="active">Summary</a></li>
            </ul>
            <li><h4 class="set">Intermediate Level</h4></li>
                <ul class="intermediate">
                    <li><a routerLink="" routerLinkActive="active">xxxxxxxx</a></li>
                    <li><a routerLink="" routerLinkActive="active">xxxxxxxxxx</a></li>    
                </ul>
        </ul>
    </ul>
</nav>