<h1>Introducing If/Else and Conditional Statements</h1>

<p>A statement that can be executed based on a condition is known as a “Conditional Statement”. The statement is often a block of code.

    The following are the 2 types:
    Conditional Branching
    Conditional Looping

    Conditional Branching
    This statement allows you to branch your code depending on whether or not a certain condition is met.
    
    In C# are the following 2 conditional branching statements:
    
    1. IF statement
    2. Switch statement</p>

<h3>If statement</h3>
<p>C# if else statement is a common selection statement. The if else in C# statement checks a Boolean expression and executes 
    the code based on if the expression is true or false. The if part of the code executes when the value of the 
    expression is true. The else part of the code is executed when the value of the expression is false. The else part 
    of the if..else is optional.</p>

<h3>Switch Statement</h3>
<p>In C#, Switch statement is a multiway branch statement. It provides an efficient way to transfer the execution to different 
    parts of a code based on the value of the expression. The switch expression is of integer type such as int, char, byte, or short, 
    or of an enumeration type, or of string type. The expression is checked for different cases and the one match is executed.</p>

    <p>Important points to remember on the list below.</p>
<ul>
    <li>In C#, duplicate case values are not allowed.</li>
    <li>The data type of the variable in the switch and value of a case must be of the same type.</li>
    <li>The value of a case must be a constant or a literal. Variables are not allowed.</li>
    <li>The break in switch statement is used to terminate the current sequence.</li>
    <li>The default statement is optional and it can be used anywhere inside the switch statement.</li>
    <li>Multiple default statements are not allowed.</li>
</ul>
