<header>
    <div class="flex-row-container">
        <div class="flex-row-item1">
            <img src="/assets/logo.png" id="logo">
        </div>
        <div class="flex-row-item2">
            <h1>Steady Paced Assembled Coding Experience</h1>    
        </div>
        <div class="flex-row-item3">
            <div class="dropdown" (click)="Open()">
                <img src="/assets/avatar.png" id="avatar" class="dropdown_image" alt="avatar">
            </div>

            <div id="content" class="dropdown-content" *ngIf="drop">
                <ul>
                    <li><a routerLink="login">Login</a></li>
                    <li><a routerLink="register">Register</a></li>
                    <li><a routerLink="#logout">Logout</a></li>
                </ul>
            </div>    
        </div>
    </div>
</header>