<h2>Reading And Writing To A File</h2>
<h6>Method and Class List</h6>
<ul>
    <li>File.WriteAllText() Method</li>
    <li>File.ReadAllText() Method</li>
    <li>StreamWriter Class</li>
    <li>StreamReader Class</li>
</ul>
<h3>File.WriteAllText() Method</h3>
<p>The File class provides functionality for file handling in C#. The File.WriteAllText(path) method can be used to write some string 
    to a file in the path path.</p>

<h3>File.ReadAllText() Method</h3>
<p>The File.ReadAllText() method can be used to read data from a file in the form of a string variable. The File.ReadAllText() method takes 
        the path of the file as a parameter and returns the contents of the file in string data type.</p>

<h3>StreamWriter Class</h3>
<p>The StreamWriter class is used to write data to a stream in a particular encoding in C#. The StreamWrite.WriteLine() method can be used 
            to write a string variable to a file. </p>

<h3>StreamReader Class</h3>
<p>The StreamReader class is used to read data from a stream in a particular encoding in C#. The StreamReader.ReadLine() method can be used 
    to read string data from a file. </p>



