<h1>Choosing an Appropriate IDE</h1>

<h2>What is an IDE?</h2>
<p>IDE stands for Integrated Development Environment. It is a software application that combines all of the features and tools needed by a software developer.</p>
Examples:
<ul style="list-style-type:circle">
<li>Text Editor</li>
<li>Project Editor</li>
<li>Tool bar</li>
<li>Output Viewer</li>
</ul>

<h2>An IDE consists of:</h2>
<p>Source code editor: text editor that assists in writing software code with syntax highlighting, language specific auto-completion. and checking for bugs as code being written.</p>
<p>Local build automation: utilities that can automate simple and repeatable tasks as part of creating a local build of software such as compiling computer source code, packaging binary code, and running automated tests.</p>
<p>Debugger: program that is for testing other programs that graphically display the location of a bug in the developers code.</p>

<h2>Popular Kinds of IDEs</h2>
<p>The number of supported languages: Some IDEs are dedicated to one language which makes them a better match for a specific programming paradigm.(IntelliJ). Other IDEs have a broad array of supported languages all in one. (Visual Studio)</p>
<p>Supported Operating System(s): A user's operating system will constrain which IDEs are viable, and if the application being developed is intended for an end user with a specific operating system, this may be an additional constraint.</p>
<p>Automation features: Most IDEs include the 3 key features of a text editor, build automation, and debugger, many include support for additional features such as refactoring, code search, and Continuous integration and continuous deployment (CI/CD) tools.</p>
<p>Impact on system performance: IDE's memory footprint may be important to consider if a developer wants to run other memory-intensive applications concurrently.</p>
<p>Plugins and extensions: IDEs include ability to customize workflow to match a developer's needs and preferences.</p>
