<h1>Introducing Data Modifiers and Types</h1>>

    <h2>Data Types List & Description</h2>
        <ul style="list-style-type: circle;">
            <li>int (Stores whole numbers from -2, 147, 483, 648 to 2,123,123,123</li>
            <li>long (Stores whole numbers from -9, 234, 456, 012, 900, to 4,222,222,222,222,222,222</li>
            <li>float (Stores fractional numbers. Sufficient for storing 6 to 7 decimal digits</li>
            <li>double (Stores fractional numbers. Sufficient for storing 15 decimal digits</li>
            <li>bool (Stores true or false values</li>
            <li>char (Stores a single character/letter, surrounded by single quotes</li>
            <li>string (Stores a sequence of characters, surrounded by double quotes</li>
        </ul>

        <h2>Numbers</h2>
        <p>Number types are divided into two groups:
            -Integer types stores whole numbers, positive or negative (such as 123 or -456), without decimals. Valid types are int and long. Which type you should use, depends on the numeric value.
            -Floating point types represents numbers with a fractional part, containing one or more decimals. Valid types are float and double.</p>

        <h2>Integer Types</h2>
        <h3>int</h3>
        <p>The int data type can store whole numbers from -2147483648 to 2147483647. In general, and in our tutorial, the int data type is the
             preferred data type when we create variables with a numeric value.</p>
        <h3>Long</h3>
        <p>The long data type can store whole numbers from -9223372036854775808 to 9223372036854775807. This is used when int is not large
            enough to store the value. Note that you should end the value with an "L"</p>

        <h3>Floating Point Types</h3>
        <p>You should use a floating point type whenever you need a number with a decimal, such as 9.99 or 3.14515.
        The float and double data types can store fractional numbers. Note that you should end the value with an "F" for floats and "D"
        for doubles</p>
        <h5>Scientific Numbers</h5>
        <p>A floating point number can also be a scientific number with an "e" to indicate the power of 10</p>

        <h3>Booleans</h3>
-A boolean data type is declared with the bool keyword and can only take the values true or false.
-Boolean values are mostly used for conditional testing

<h3>Characters</h3>
<p>The char data type is used to store a single character. The character must be surrounded by single quotes, like 'A' or 'c'</p>

