<h1>INTRODUCTION</h1>
<p>What is C#?</p>
    <p>C# is an open-source cross-platform object oriented programming language developed by Microsoft to create and use software components utilizing the .NET Framework to develop web applications, mobile applications, games, and other resources.</p>

    <p>It shares common traits with other object oriented languages such as Java</p>

    <p>Why use C#?</p>
    <ul>
        <li>It's among the most popular languages that have extensive documentation and development</li>
        <li>It has a concise structure and allows code to be packaged and reused</li>
        <li>Makes it easier to switch between other OOP languages such as Java</li>
    </ul>